/*
light: #00fa9a
medium  #3cb371
dark 3: #308355
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*font-size: 20px;*/
  line-height: 2.3;
  color: #777;
  padding: 3rem;
  position: relative;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 4rem;
}

.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 7rem;
  -webkit-animation-name: moveinleft;
          animation-name: moveinleft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-OUT;
          animation-timing-function: ease-OUT;
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 1.75rem;
  -webkit-animation-name: moveinright;
          animation-name: moveinright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.heading-secondery {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#00fa9a), to(#308355));
  background-image: linear-gradient(to right, #00fa9a, #308355);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-secondery:hover {
  -webkit-transform: skewX(2deg) skewY(10deg) scale(1.1);
          transform: skewX(2deg) skewY(10deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u.center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

@-webkit-keyframes moveinleft {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-10rem);
            transform: translatex(-10rem);
  }
  80% {
    -webkit-transform: translatex(1rem);
            transform: translatex(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-10rem);
            transform: translatex(-10rem);
  }
  80% {
    -webkit-transform: translatex(1rem);
            transform: translatex(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@-webkit-keyframes moveinright {
  0% {
    opacity: 0;
    -webkit-transform: translatex(10rem);
            transform: translatex(10rem);
  }
  80% {
    -webkit-transform: translatex(-1rem);
            transform: translatex(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@keyframes moveinright {
  0% {
    opacity: 0;
    -webkit-transform: translatex(10rem);
            transform: translatex(10rem);
  }
  80% {
    -webkit-transform: translatex(-1rem);
            transform: translatex(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@-webkit-keyframes moveinbottom {
  0% {
    opacity: 0;
    -webkit-transform: translatey(3rem);
            transform: translatey(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveinbottom {
  0% {
    opacity: 0;
    -webkit-transform: translatey(3rem);
            transform: translatey(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(60, 179, 113, 0.8)), to(rgba(0, 250, 154, 0.8))), url(../../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(60, 179, 113, 0.8), rgba(0, 250, 154, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -10rem;
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tour {
  background-color: #f7f7f7;
  padding: 18rem 0 10rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00fa9a), to(#308355));
  background-image: linear-gradient(to right bottom, #00fa9a, #308355);
}

.book {
  background-image: linear-gradient(107deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  height: 50rem;
}

.book__form {
  width: 50%;
  padding: 3rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 8rem;
}

.row .col-1-of-2 {
  width: calc((100% - 8rem) /2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 8rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 8rem) / 3) + 8rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 8rem) /4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 8rem) / 4) + 8rem);
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(60, 179, 113, 0.8)), to(rgba(0, 250, 154, 0.8))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(60, 179, 113, 0.8), rgba(0, 250, 154, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 6rem;
  left: 6rem;
}

.header__logo {
  height: 3.5rem;
}

.header__tex-box {
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 3rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translatey(0.2rem);
          transform: translatey(0.2rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #3cb371;
  color: #fff;
}

.btn--green::after {
  background-color: #3cb371;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-animated {
  -webkit-animation: moveinbottom .5s ease-out .75s;
          animation: moveinbottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #3cb371;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0px solid #3cb371;
  padding: 3px;
  -webkit-transition: all .2;
  transition: all .2;
}

.btn-text:hover {
  background-color: #3cb371;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .4s;
  transition: all .4s;
  outline-offset: 2rem;
}

.composition__photo__p1 {
  left: 0;
  top: -2rem;
}

.composition__photo__p2 {
  right: 0;
  top: 20srem;
}

.composition__photo__p3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #3cb371;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.feature-box__icon {
  font-size: 5.6rem;
  margin-bottom: .5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#00fa9a), to(#308355));
  background-image: linear-gradient(to right, #00fa9a, #308355);
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}

.card__side {
  height: 52rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00fa9a), to(#308355));
  background-image: linear-gradient(to right bottom, #00fa9a, #308355);
}

.card__side--back--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00fa9a), to(#308355)), url(../img/nat-6.jpg);
  background-image: linear-gradient(to right bottom, #00fa9a, #308355), url(../img/nat-6.jpg);
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../img/nat-7.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 250, 154, 0.85)), to(rgba(48, 131, 85, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(0, 250, 154, 0.85), rgba(48, 131, 85, 0.85));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__deatails {
  padding: 3rem;
}

.card__deatails ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__deatails li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__deatails li:not(:last-child) {
  border-bottom: 1px solid #eeee;
}

.card__cta {
  position: absolute;
  top: 25%;
  left: 5%;
  -webkit-transform: translate(-50% 50%);
          transform: translate(-50% 50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translatex(-3rem) skewX(12deg);
          transform: translatex(-3rem) skewX(12deg);
  position: relative;
}

.story__img {
  height: 100%;
  -webkit-transform: translatex(-4rem);
          transform: translatex(-4rem);
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.story:hover .story__img {
  -webkit-transform: translateX(-4rem) scale(1);
          transform: translateX(-4rem) scale(1);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group:not(:last-child) {
  margin: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: transparent;
  border-bottom: .5rem solid transparent;
  width: 90%;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.5rem solid #3cb371;
}

.form__input:focus:invalid {
  border-bottom: 0.5rem solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 5rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 47%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #3cb371;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -2rem;
  top: -.8rem;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #3cb371;
  opacity: 0;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */